{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/main.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBfP1dUfUoR2G316xfHDmUTStk_FtJ53I&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}

{% block body %}
<body>
    <h1>Ice Cream Finder</h1>
    <form id="ICF-details-form">
        <div class="col-3 input-effect">
            <label for="address">Address</label>
            <input class="effect-19" type="text" id="address" name="address" placeholder="Enter specific location">
            <span class="focus-border">
                <i></i>
            </span>
        </div>

        <div class="col-3 input-effect">
            <label for="budget">Price Level</label>
            <select id="budget" name="budget" class="effect-19">
                <option value="0">$0-$10</option>
                <option value="1">$10-$20</option>
                <option value="2" selected>$20-$30</option>
                <option value="3">$30-$50</option>
                <option value="4">$50+</option>
            </select>
            <span class="focus-border">
                <i></i>
            </span>
        </div>

        <div class="col-3 input-effect">
            <label for="icecreamflavor">Flavor</label>
            <select id="icecreamflavor" name="icecreamflavor" class="effect-19">
                <option value="Vanilla">Vanilla</option>
                <option value="Chocolate">Chocolate</option>
                <option value="Strawberry">Strawberry</option>
                <option value="Mint">Mint</option>
                <option value="Caramel">Caramel</option>
                <option value="Vanilla Bean">Vanilla Bean</option>
                <option value="Chocolate Fudge Brownie">Chocolate Fudge Brownie</option>
                <option value="Strawberry Cheesecake">Strawberry Cheesecake</option>
                <option value="Cookies and Cream">Cookies and Cream</option>
                <option value="Mint Chocolate Chip">Mint Chocolate Chip</option>
                <option value="Salted Caramel">Salted Caramel</option>
                <option value="Coffee Crunch">Coffee Crunch</option>
                <option value="Rocky Road">Rocky Road</option>
                <option value="Pistachio">Pistachio</option>
                <option value="Coconut Almond">Coconut Almond</option>
                <option value="Birthday Cake">Birthday Cake</option>
                <option value="Peanut Butter Swirl">Peanut Butter Swirl</option>
                <option value="Lemon Sorbet">Lemon Sorbet</option>
                <option value="Matcha Green Tea">Matcha Green Tea</option>
                <option value="Black Raspberry Chip">Black Raspberry Chip</option>
            </select>
            <span class="focus-border">
                <i></i>
            </span>
        </div>

        <div class="col-3 input-effect">
            <label for="OpenNow">Open Now</label>
            <input class="effect-19" type="checkbox" id="OpenNow" name="OpenNow" value="true">
            <script>document.getElementById('OpenNow').checked = true;</script>
        </div>

        <div class="col-3 input-effect">
            <label for="rating">Rating</label>
            <input class="effect-19" type="number" id="rating" name="rating" placeholder="Rating" min="1" max="5" step="0.1" value="4">
            <span class="focus-border">
                <i></i>
            </span>
        </div>
        <div class="col-3 input-effect"></div>
            <div id="result">Slurping Around!</div>
        </div>
        <button class ="btn" type="submit" id="getLocationBtn">Current Location</button>
        
        <div id="map"></div>
        
    </form>
    <script>
        function checkAddress() {
            const addressInput = document.getElementById('address').value.trim();
            const getLocationButton = document.getElementById('getLocationBtn');

            if (addressInput === '') {
                getLocationButton.textContent = 'Current Location';
            } else {
                getLocationButton.textContent = 'Find Address';
            }
        }
        checkAddress();

        document.getElementById('address').addEventListener('input', checkAddress);
    </script>

    <script>
        function initAutocomplete() {
            var addressInput = document.getElementById('address');
            var autocomplete = new google.maps.places.Autocomplete(addressInput);
            
            autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);

            autocomplete.addListener('place_changed', () => {
                const place = autocomplete.getPlace();

                if (!place.geometry) {
                    console.log("No details available for input: '" + place.name + "'");
                    return;
                }

                console.log('Selected place:', place);
            });
        }
        window.initAutocomplete = initAutocomplete;
    </script>

    
    <script src="{{ url_for('static', filename='JS/scripts.js') }}"></script>
</body>
{% endblock %}
